<h1>BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB</h1>

<table>
    <tr>
        <th>RAM Name</th>
        <th>Memory</th>
        <th>BUS</th>
        <th>Price</th>
        <th></th>
    </tr>
    <tr>
        <td>{{  }}</td>
        <td>Maria Anders</td>
        <td>Germany</td>
    </tr>
</table>